@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*initial global reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*converting the root default general font-size to 10px*/
html {
    font-size: 62.5%;
}

body {
    /*default font-size in rem*/
    font-size: 1.6rem;

    width: 100%;
    height: 100rem;

    Background-color: #F4D04E;
    
    /*Flex box*/
    display: flex;
    flex-direction: row;
    /*main-axis*/
    justify-content: center;
    /*cross-axis*/
    align-items: center;
}

.preview-card {
    background-color: #FFFFFF;
    width: 38.4rem;
    height: 52.2rem;

    padding: 2.4rem;
    margin-bottom: 5rem; 

    border: 0.1rem solid #111111;
    border-radius: 2rem;
    
    box-shadow: 1rem 1cap 0 #111111; /*New*/
}

.image {
    border-radius: 1rem;
}

.text {
    background-color: lightblue;
    margin-top: 2.4rem;
}

.text .category {
    background-color: #F4D04E;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    font-family: 'Figtree';  
    font-weight: 800;
    font-size: 1.4rem;
}

































.author {
    background-color: lightgreen;
    margin-top: 2.4rem;
}




























































/*Footer*/
.attribution {
    font-size: 1.6rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}