@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*initial global reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*converting the root default general font-size to 10px*/
html {
    font-size: 62.5%;
}

body {
    /*default font-size in rem*/
    Background-color: #F4D04E;
    
    width: 100%;
    min-height: 100vh;

    font-size: 1.6rem;
    font-family: 'Figtree';
    color: #111111;
    
    /*Flex box*/
    display: flex;
    flex-direction: row;
    /*main-axis*/
    justify-content: center;
    /*cross-axis*/
    align-items: center;
}

.preview-card {
    background-color: #FFFFFF;
    width: 38.4rem;

    padding: 2.4rem;
    margin-bottom: 5rem; 

    border: 0.1rem solid #111111;
    border-radius: 2rem;
    
    box-shadow: 0.8rem 0.8rem 0px #111111; /*New*/
}

.image {
    border-radius: 1rem;
}

.text {
    /* background-color: lightblue; */
    margin-top: 2.4rem;
    line-height: 150%;
}

.text .category {
    background-color: #F4D04E;

    padding: 0.4rem 1.2rem;

    border-radius: 0.4rem;

    font-weight: 800;
    font-size: 1.4rem;
}

.publish-date {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.title {
    margin-top: 1.2rem;
    font-size: 2.4rem;
    font-weight: 800;
}

.title:hover {
    color: #F4D04E;
    cursor: pointer;
}

.description {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #6B6B6B;
}

.author {
    /* background-color: lightgreen; */
    margin-top: 2.4rem;

    display: flex;
    flex-direction: row;
    /* cross-axis */
    align-items: center;
}

.author-name {
    padding: 0.55rem 0 0.55rem 1.2rem;

    font-size: 1.4rem;
    font-weight: 800; 
}

.author-image {
    width: 3.2rem;
    height: 3.2rem;
}

/*Footer*/
.attribution {
    font-size: 1.6rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}